
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  font-family: "cursive";
  background-color: #393646;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://png.pngtree.com/background/20210712/original/pngtree-cute-hand-drawn-style-mathematics-education-green-stripes-background-picture-image_1176968.jpg');
  background-size: cover;
  animation: slideBackground 60s linear infinite;

}

.quiz-container {
  background-color: #393646;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 800px;
  min-height: 550px;
  margin: 3rem auto;
  padding: 20px;
  background-color: #000;
  overflow: hidden;
  animation: animateBackground 20s linear infinite;
}

@keyframes animateBackground {
  0% {
    background-color: #ffefdb;
  }

  25% {
    background-color: #eed078;
  }

  50% {
    background-color: #acd0c2;
  }

  75% {
    background-color: #b8c4dc;
  }

  100% {
    background-color: #8EACCD;
  }
}


h1 {
  margin-top: 2%;
  text-align: center;
  font-family: cursive;
}

span{
  color: #6D5D6E;
}



#question {
  margin-top: 4%;
  font-size: 25px;
  font-weight: 500;
  font-family: cursive;
  font-weight: 600;
}

#choices li {
  list-style: none;
  margin: 10px 0;
  background-color: #4F4557;
  color:white;
  font-family: cursive;
  opacity: 0.8;
  border-radius: 5px;
  width: 90%;
  font-size: 1.5rem;
  padding: 3px  0;
  display: flex;
  justify-content: start;
  align-items: center;


}
.f_btns{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#slide-button{
  margin-top:4rem ;
  font-family: cursive;
  font-weight:900;
  font-size: large;
  background-color: #6D5D6E;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 120px;
  opacity: 0.9;
}
input{
  accent-color: #4F4557;
  margin: 0 5px;
}


ul{

  margin: auto;  
}

#next-button {
  display: block;
  font-family: cursive;
  margin: 30px auto;
  background-color: #6D5D6E;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 120px;
  opacity: 0.9;
}

#next-button:hover {
  background-color: #6D5D6E;
  scale: 0.9;
}

#timer-button{
  margin-top:4rem ;
  font-family: cursive;
  font-weight:900;
  font-size: large;
  background-color: #6D5D6E;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 120px;
  opacity: 0.9;

}


@media only screen and (max-width: 600px){
  .quiz-container{
    width: 80vw;
    margin: auto;
  } 
       
}